<div class="container">
  <h1>Edit task</h1>
    <%= form_for(@task) do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <%= f.label :details %>
        <%= f.text_field :details %>
      </div>
      <div class="form-group custom-control custom-checkbox">
        <%= f.check_box :completed %>
        <%= f.label :completed, "Task is completed" %>
      </div>
      <%= f.submit %>
    <% end %>
</div>
